* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 0;
}

body {
    color: #666666;
    font-size: 1em;
    font-weight: 400;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.8;
}

#page {
    background-image: url('img/pattern.png');
    padding-bottom: 24px;
}

header, main {
    margin: auto;
}

header, main, footer {
    text-align: center;
}

img {
    margin: 20px auto 0px auto;
    border: 10px solid #ffffff;
}

#menu, #menu li {
    display: inline-block;
    position: relative;
}

#menu li a, .box ul, h2 {
    line-height: 37px;
}

#menu li a, .box li a, .contacts a {
    text-decoration: none;
}

#menu li a {
    display: inline-block;
    color: #ffffff;
    padding: 0 10px;
    line-height: 40px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

#menu li:first-child a {
    border-left: 0;
}

#menu li:last-child a {
    border-right: 0;
}

#menu li a:hover::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}

main, nav, footer {
    margin: 0px auto;
    max-width: 1000px;
}

nav {
    background-color: #666666;
    height: 40px;
    font-size: 12px;
}

main {
    width: 100%;
    margin: 0 auto;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

#sidebar, .post, .widget {
    float: left;
    margin: 16px 0px;
}

#sidebar, .text {
    text-align: left;
}

#sidebar {
    width: 25%;
    margin-right: 24px;
}

.box {
    height: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 24px;
    padding: 0px 10px;
}

h2, p {
    padding: 15px;
}

h2 {
    color: #504741;
}

.fa-rss-square {
    color: #faa501;
}

ul {
    list-style-type: none;
}

.box li {
    padding: 5px;
}

.box li a {
    line-height: 25px;
    color: #99cc33;
    text-decoration: none;
}

.post {
    width: 50%;
    margin-right: 24px;
}

.post .box p, .widget .box p {
    line-height: 28px;
}

.widget {
    width: 20%;
}

footer .box p, .contacts, .contacts a {
    color: #cecece;
}

footer .box p {
    font-style: italic;
    border-bottom: 1px solid #9a9a9a;
}

footer .box {
    height: 150px;
}

.contacts {
    display: inline-block;
    font-size: 40px;
    width: 33%;
}

#floater {
    float: left;
    width: 100%;
    height: 25%;
}

#contacts-wrapper {
    clear: both;
}
