* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 0;
}

#background {
    background-image: url('img/pattern.png');
    height: 100vh;
}

header, #menu-wrapper {
    margin: auto;
    text-align: center;
}

img {
    margin: 20px auto 0px auto;
    border: 10px solid #ffffff;
}

#menu, #menu li {
    display: inline-block;
}

#menu li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 0 10px;
    height: 22px;
    line-height: 37px;
    position: relative;
}

#menu li a:hover::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}

nav {
    margin: 0px auto;
    background-color: #666666;
    height: 40px;
    max-width: 1000px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
